body {
    background-color: rgb(93, 93, 245);
    font: normal 15pt Arial black;
}

header {
    color: black;
    text-align: center;

}

h1 {
    font: normal 30pt Arial;
    text-align: center;
    margin: 30px;
}

div {
    text-align: center;
    padding: 8px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px;
    color: black;
}

#imagem {
    border: 1px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

#msg {
    text-align: center;
}